@font-face {
  font-family: "iconfont"; /* Project id 2587192 */
  src: url('iconfont.woff2?t=1623417315884') format('woff2'),
       url('iconfont.woff?t=1623417315884') format('woff'),
       url('iconfont.ttf?t=1623417315884') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huojian:before {
  content: "\e615";
}

.icon-redu:before {
  content: "\e659";
}

.icon-dianzan1:before {
  content: "\e60c";
}

.icon-lujingbeifen13:before {
  content: "\e606";
}

.icon-git:before {
  content: "\e603";
}

.icon-weixin:before {
  content: "\e665";
}

.icon-dashang-copy:before {
  content: "\f379";
}

.icon-hot:before {
  content: "\e61a";
}

.icon-fabu2:before {
  content: "\e602";
}

.icon-refresh:before {
  content: "\e600";
}

.icon-jiantou:before {
  content: "\e63c";
}

.icon-sousuo:before {
  content: "\e605";
}

.icon-pinglun:before {
  content: "\e601";
}

.icon-fabu1:before {
  content: "\e604";
}

